<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="example.app.resource">





{#<input type="text"#}
{#       name="search" value="" id="search"/>#}
{#<div id="cats">#}
{#    {% if blocks %}#}
{#        {% for block in blocks %}#}
{##}
{#                <li>#}
{#                    {{ block.name }}#}
{#                </li>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#    {% endif %}#}
{#</div>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"#}
{#            integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"#}
{#            crossorigin="anonymous"></script>#}
{#    <script src="{% static "angular.js" %}"></script>#}

</body>
</html>